/* Jelle Mul
11402148 */

/* change color when hovered over rectangle*/
.rect:hover {
  fill: red;
}

.chart text {
  fill: black;
  font: 15px sans-serif;
  text-anchor: middle;
}

.axis text {
  fill: black;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.d3-tip {
  line-height: 0.1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 13px;
  font-size: 10px;
}
